{"subscriptionId":"{{ocp4_install_azure_subscriptionid}}","clientId":"{{ocp4_install_azure_clientid}}","clientSecret":"{{ocp4_install_azure_clientsecret}}","tenantId":"{{ocp4_install_azure_tenantid}}"}